body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
       background-color: aliceblue;
}

/* Navigation bar */

.navigation{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.menus a{
    text-decoration: none;
    color: rgb(14, 14, 14);
    margin: 10px;
    margin-left: 1rem;
}

.menus a:hover{
    color: rgb(244, 117, 75);
}


.logo img{
    width: 40px;
    margin-top: 10px;
    
}

/* Hero section */
.hero-right{
    background-color: rgb(1, 1, 25);
    color: white;
}

